<!DOCTYPE html>
<html>
    <head>
      <link rel="icon" href="weather.png">
      <title>About</title>
      <link rel="stylesheet" href="./css/style.css">
      <script src="./js/app.js"></script>
    </head>

    <body>
       <div class="main-content">
        {{>header}}
        <div>
          <img src="img.JPG" class="potrait">
        </div>
      <div>
         
         <p> <em>This is a user friendly platform to tell you about the weather at the place you're looking for!</em><hr><br>
              Just mention your address, and we will give you the information!
            </p>
      
      </div>

      </div>        
        {{>footer}}
    </body>

</html>