<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="./css/style.css">
      
    </head>

    <body>
          <h1>{{title}}</h1>
            <br>
            <h2>{{errormsg}}</h2>

    </body>

</html>