<!DOCTYPE html>
<html>
    <head>
      <link rel="icon" href="weather.png">
      <title>Help</title>
      <link rel="stylesheet" href="./css/style.css">
      <script src="./js/app.js"></script>
    </head>

    <body>
      <div class="main-content">
         {{>header}}
      
      <p> Welcome to the Help Page!<br> We hope to resolve your issues!</p>
      </div>   
        {{>footer}}
    </body>


</html>